<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BUSINESS_UNIT" value="BOXOFFICE" />
    <add key="STORED_PROCEDURE_GROUP" value="WS_V248T" />
    <add key="DESTINATION_DATABASE" value="TALENTTKT" />
    <add key="BACKOFFICE_CONNECTIONSTRING" value="DataSource=172.26.49.17;userid=TKT472TF;password=TKT472TF;LibraryList=*USRLIBL;Naming=System;MinimumPoolSize=2;MaximumPoolSize=100;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <clear />
    <add name="SqlServer2005" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentDev; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient" />
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentDev; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient" />
    <add name="SYSTEM21" connectionString="DataSource=CSG810A;userid=XXADMINWC;password=XXADMINWC;LibraryList=*USRLIBL;Naming=System" />
    <add name="TALENTCRM" connectionString="DataSource=172.26.33.11;userid=SMS407TF;password=DEVELOP;LibraryList=*USRLIBL;Naming=System" />
    <add name="TALENTEBOleDBConnectionString" connectionString="Provider=IBMDA400.DataSource.1;Data Source=172.26.49.11;Persist Security Info=True;User ID=TALENTEB;Password=TALENTEB;Catalog Library List=dbo" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>