/TalentEBusiness/BIN/Talent.Common.dll
/TalentEBusiness/BIN/Talent.Common.pdb
/TalentEBusiness/BIN/TalentBusinessLogic.dll
/TalentEBusiness/BIN/TalentBusinessLogic.pdb
/TalentMaintenance/Bin/Talent.Common.dll
/TalentMaintenance/Bin/Talent.Common.pdb
/TalentSupplyNet/Bin/Talent.Common.dll
/TalentSupplyNet/Bin/Talent.Common.pdb
/TalentSupplyNet/Bin/TalentBusinessLogic.dll
/TalentSupplyNet/Bin/TalentBusinessLogic.pdb
/Dev.v12.suo
/TalentCommon/obj
/TalentCommon/bin/Debug/Talent.Common.dll
/TalentCommon/bin/Debug/Talent.Common.pdb
/V2016R1.v12.suo
/TalentCommon/bin
/TalentSupplyNet/Bin
/TalentEBusiness/BIN
/TalentSystemDefaults/SystemDefaultsAPI/bin
/TalentSystemDefaults/SystemDefaultsAPI/obj
TalentSystemDefaults/TalentSystemDefaults/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TalentSystemDefaults/WebsiteNew/Bin/
TalentSystemDefaults/TalentSystemDefaults/bin/
TalentSystemDefaults/TalentSystemDefaults/obj/
TalentDatabase/TalentDatabase.dbmdl
TalentMaintenance/Bin/
