<%@ master language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/2Column.master.vb" Inherits="MasterPages_Shared_SharedClasses_2Column" %>
<%@ Register Namespace="Talent.CustomControls" Assembly="__code" tagprefix="TalentCustom" %>
<%@ Register Src="~/UserControls/PageLeftProductNav.ascx" TagName="PageLeftNav" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/PageHeaderText.ascx" TagName="PageHeaderText" TagPrefix="Talent" %>

<asp:Content ID="Content1" ContentPlaceHolderID="SiteMasterHead" runat="server">

    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/TinyNav.js-master/tinynav.min.js"></script>
    <script>
        // Responsive Shop Nav
        $(function () {
            // TinyNav.js 1
            $(".AspNet-TreeView > ul").tinyNav({
            active: 'selected', // String: Set the "active" class
            header: 'Select Category ', // String: Specify text for "header" and show header instead of the active item
            indent: '- ', // String: Specify text for indenting sub-items
            label: '' // String: Sets the <label> text for the <select> (if not set, no label will be added)
            });     
        });
    </script>

    <!-- page level scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server" />
    <!-- page extra data table scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="SiteMasterBody" runat="server">

    <div class="row">
        <div class="large-12 columns ebiz-browse-html-container">
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">
            <Talent:PageLeftNav ID="PageLeftNav1" runat="server" />
        </div>
        <div class="large-9 columns">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        </div>
    </div>

    <script>
        $(function(){
            $(".ebiz-browse-html-image").insertBefore(".ebiz-browse-html-container");
            $("h1").appendTo(".ebiz-browse-html-container");
            $(".ebiz-browse-html-description").appendTo(".ebiz-browse-html-container");
        });
    </script>

</asp:Content>