<%@ Master Language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/Site.master.vb" Inherits="MasterPages_Shared_SharedClasses_Site" %>
<%@ Register Namespace="Talent.CustomControls" Assembly="__code" tagprefix="TalentCustom" %>
<%@ Register Src="~/UserControls/HTMLInclude.ascx" TagName="HTMLInclude" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/MicroBasket.ascx" TagName="MicroBasket" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/PersonalisationBar.ascx" TagName="PersonalisationBar" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/Alerts.ascx" TagName="Alerts" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/TicketingLoyalty.ascx" TagName="TicketingLoyalty" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/SessionStatus.ascx" TagName="SessionStatus" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/PageHeaderText.ascx" TagName="PageHeaderText" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/breadCrumbTrail.ascx" TagName="BreadCrumbTrail" TagPrefix="Talent" %>


<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//use.fontawesome.com/7e81f32a9c.js"></script>
    <script>
        function OpenAlertsWindow(URL, boxHeight, boxWidth) {
            $("#ebiz-alert-reveal").foundation("open");
        }
    </script>
    <link rel="icon" href="/App_Themes/PWS.Vanilla/img/favicon.ico" type="image/x-icon">
    <asp:ContentPlaceHolder id="SiteMasterHead" runat="server" />
</head>

<body id="MasterBodyTag" runat="server">


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-XXXXXXX');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    
    <form id="form1" runat="server">
        <asp:ScriptManager ID="scmMainScriptManager" runat="server" />
            
        <!-- off-canvas right menu -->
        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-transition="push">
            <ul class="vertical menu" data-accordion-menu>
                <TalentCustom:Literal HTMLFileName="offCanvasRightMenu.html" ID="ltloffCanvasRightMenu" runat="server" OnLoad="GetStaticHTMLInclude" />
            </ul>    
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <header>
                <div class="ebiz-utility-bar">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="ebiz-utility-bar-left">
                                <div class="ebiz-other-sites show-for-large">
                                    <TalentCustom:Literal HTMLFileName="OtherSiteMenu.html" ID="ltlOtherSiteMenu" runat="server" OnLoad="GetStaticHTMLInclude" />
                                </div>
                                <div class="ebiz-header-info show-for-large">
                                    <TalentCustom:Literal HTMLFileName="HeaderContact.html" ID="ltlHeaderContact" runat="server" OnLoad="GetStaticHTMLInclude" />
                                </div>
                            </div>
                            <div class="ebiz-utility-bar-right">
                                <div class="ebiz-myaccount-wrap show-for-medium">
                                    <TalentCustom:Literal HTMLFileName="MyAccountMenu.html" ID="ltlMyAccountMenu" runat="server" OnLoad="GetStaticHTMLInclude" />
                                </div>
                                <Talent:TicketingLoyalty ID="TicketingLoyalty" runat="server" />
                                <Talent:PersonalisationBar ID="uscPersonalisationBarTop" runat="server" />
                                <Talent:Alerts ID="uscAlertsUtilityBar" runat="server" />
                                <Talent:MicroBasket ID="uscMicroBasketUtilityBar" runat="server" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- off-canvas title bar for 'small' screen -->
                <div class="title-bar" data-responsive-toggle="ebiz-main-nav" data-hide-for="large">
                    <div class="ebiz-title-bar-left">
                        <TalentCustom:Literal HTMLFileName="MobileLogo.html" ID="ltlMobileLogo" runat="server" OnLoad="GetStaticHTMLInclude" />
                    </div>
                    <div class="title-bar-right">
                        <div class="hamburger hamburger--collapse" id="ebiz-burger-menu" type="button" data-open="offCanvasRight">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- "ebiz-main-nav" top-bar menu for 'large' and up -->
                <div class="ebiz-main-header show-for-large">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="ebiz-main-header-left">
                                <TalentCustom:Literal HTMLFileName="DesktopLogo.html" ID="ltlDesktopLogo2" runat="server" OnLoad="GetStaticHTMLInclude" />
                            </div>
                            <div class="ebiz-main-header-right">
                                <TalentCustom:Literal HTMLFileName="DesktopNavigation.html" ID="ltlDesktopNavigation" runat="server" OnLoad="GetStaticHTMLInclude" />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
            
            <div class="ebiz-page-title">
                <div class="row">
                    <div class="large-12 columns">
                        <Talent:PageHeaderText ID="PageHeaderText1" runat="server" />
                    </div>
                </div>
            </div>
            
            
            <section class="ebiz-main-section" id="ebiz-main-section">
                <asp:ContentPlaceHolder ID="SiteMasterBody" runat="server" /> 
            </section>  

            
            <footer>
                <TalentCustom:Literal HTMLFileName="footer.html" ID="ltlfooter" runat="server" OnLoad="GetStaticHTMLInclude" />
                <div class="ebiz-session-status-wrap">
                    <Talent:SessionStatus ID="uscSessionStatus" runat="server" />
                    <TalentCustom:Literal HTMLFileName="DummySession.html" ID="ltlDummySession2" runat="server" OnLoad="GetStaticHTMLInclude" />
                </div> 
            </footer>
            
            
        </div>
            
    </form>
    <script src="//cdn.jsdelivr.net/alertifyjs/1.7.1/alertify.min.js"></script>
    <script src="../../JavaScript/TimepickerAddon.js"></script>
    <script src="../../JavaScript/vendor/foundation/foundation.min.js"></script>
    <script src="../../JavaScript/vendor/jquery.matchHeight-min.js"></script>
    <script src="../../JavaScript/vendor/fastclick.min.js"></script>
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="../../JavaScript/vendor/select2/js/select2.min.js"></script>
    <script src="../../JavaScript/Application/TalentEBusinessSuite.js"></script>
    <script src="/App_Themes/PWS.Vanilla/js/theme.js"></script>

    <!-- IMPORTANT APPLICATION STUFF DO NOT DELETE!! -->
    <div id="loading-image" style="display: none" class="ebiz-loading-default ebiz-loading-results">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>

    <%=GetPageExtraDataForBody()%>
    <%= GetTrackingBodyCodesText %>

</body>
</html>