<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrivateEncryptionKey" value="@dn4m$" />
    <add key="CacheTimeInMinutes" value="120" />
    <add key="useSecureURL" value="false" />
    <add key="SSLOffloaded" value="false" />
    <add key="secureURL" value="http://localhost" />
    <add key="nonSecureURL" value="http://localhost" />
    <add key="EmailSMTP" value="127.0.0.1" />
    <add key="DefaultStoredProcedureGroup" value="ADNAMS" />
    <add key="LogPath" value="C:\Websites\TalentEBusinessSuite\TalentEBusiness\Logs" />
    <add key="ErrorFromEmail" value="error@adnams.com" />
    <add key="ErrorToEmail" value="stuart.atkinson@computersoftware.com" />
    <add key="ErrorSubjectField" value="Error @ adnams - " />
    <add key="com.qas.proweb.serverURL" value="https://ws.ondemand.qas.com/ProOnDemand/V3/ProOnDemandService.asmx" />
    <add key="com.qas.proweb.username" value="fd1ba99d-2fb" />
    <add key="com.qas.proweb.password" value="talentqas1" />
    <add key="com.qas.proweb.layout" value="QADefault" />
    <add key="com.dunhill.store.service" value="http://store.dunhill.com/ADLTaxCalcWS/service.asmx" />
    <add key="TalentCommonLoggingOnOff" value="false" />
    <add key="liveUpdateDatabase01" value="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentDev; User ID=TalentEBusinessDBUser; password=Password2007;" />
    <add key="liveUpdateDatabase02" value="" />
    <add key="liveUpdateDatabase03" value="" />
    <add key="AccessControl.AccessControl" value="http://test-botswana.computicket.com/SupplyNet/AccessControl.asmx" />
    <add key="AccessControlResponseLocalDirectory" value="C:\TalentEBusinessSuiteAssets\Botswana\Test\BoxOffice\AccessControlResponses\" />
    <add key="AccessControlResponseVirtualDirectory" value="~/Assets/AccessControlResponses/" />
    <add key="OverwriteBU" value="UNITEDKINGDOM" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!--DEV-->
    <add name="SqlServer2005" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentDev; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient" />
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentDev; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient" />
    <!--Test -->
    <!--<add name="SqlServer2005" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBTalentQATest; User ID=TEST_TalentEbusinessTalentQATestUser; password=Password2007;" providerName="System.Data.SqlClient"/>
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBTalentQATest; User ID=TEST_TalentEbusinessTalentQATestUser; password=Password2007;" providerName="System.Data.SqlClient"/>-->
    <!--Ready-->
    <!--<add name="SqlServer2005" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBTalentQAReady; User ID=TEST_TalentEBusinessTalentQAReadyUser; password=Password2007;" providerName="System.Data.SqlClient"/>
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBTalentQAReady; User ID=TEST_TalentEBusinessTalentQAReadyUser; password=Password2007;" providerName="System.Data.SqlClient"/>-->
    <!-- Beko Dev -->
    <!--<add name="SqlServer2005" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBBekoDev; User ID=TEST_TalentEBusinessBekoDevUser; password=Password2007;" providerName="System.Data.SqlClient" />
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBBekoDev; User ID=TEST_TalentEBusinessBekoDevUser; password=Password2007;" providerName="System.Data.SqlClient" />-->
    <!-- Beko B2B -->
    <!--<add name="SqlServer2005" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBQABekoB2B; User ID=TEST_TalentEBusinessQABekoB2BUser; password=Password2007;" providerName="System.Data.SqlClient" />
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBQABekoB2B; User ID=TEST_TalentEBusinessQABekoB2BUser; password=Password2007;" providerName="System.Data.SqlClient" />-->
    <!-- Beko B2C -->
    <!--<add name="SqlServer2005" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBQABekoB2C; User ID=TEST_TalentEBusinessQABekoB2CUser; password=Password2007;" providerName="System.Data.SqlClient" />
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=WIN-72A9D09Q7EG;Initial Catalog=TEST_TalentEBusinessDBQABekoB2C; User ID=TEST_TalentEBusinessQABekoB2CUser; password=Password2007;" providerName="System.Data.SqlClient" />-->
    <add name="SYSTEM21" connectionString="DataSource=CSG810A;userid=XXADMINWC;password=XXADMINWC;LibraryList=*USRLIBL;Naming=System" />
    <add name="TALENTCRM" connectionString="DataSource=172.26.33.11;userid=SMS407TF;password=DEVELOP;LibraryList=*USRLIBL;Naming=System" />
    <add name="TALENTEBOleDBConnectionString" connectionString="Provider=IBMDA400.DataSource.1;Data Source=172.26.49.11;Persist Security Info=True;User ID=TALENTEB;Password=TALENTEB;Catalog Library List=dbo" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!--Just to allow page to post the form data having special characters to the webAPI, we need to change the validation mode-->
  <location path="PagesAgent/SystemDefaults/SystemDefaults.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
   <location path="PagesAgent/Setup/TemplateOverride.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="PagesAgent/Setup/TemplateOverrideEdit.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <membership defaultProvider="TalentMembershipProvider">
        <providers>
          <clear />
          <add name="TalentMembershipProvider" type="TalentMembershipProvider" connectionStringName="TalentEBusinessDBConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" />
        </providers>
      </membership>
      <profile enabled="true" defaultProvider="TalentProfileProvider" inherits="TalentProfile" automaticSaveEnabled="false">
        <providers>
          <clear />
          <add name="TalentProfileProvider" type="TalentProfileProvider" connectionStringName="TalentEBusinessDBConnectionString" />
        </providers>
      </profile>
      <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" />
      <authentication mode="Forms">
        <forms loginUrl="~/PagesPublic/Login/Login.aspx" name=".ASPXFORMSAUTH" protection="None" path="/" timeout="20" />
      </authentication>
      <httpRuntime />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1">
        <assemblies>
          <add assembly="IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26" />
          <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </assemblies>
        <buildProviders>
          <add extension=".skin" type="System.Web.Compilation.PageBuildProvider" />
        </buildProviders>
      </compilation>
      <pages enableEventValidation="false" controlRenderingCompatibilityVersion="4.0">
        <namespaces>
          <clear />
          <add namespace="System" />
          <add namespace="System.Collections" />
          <add namespace="System.Collections.Specialized" />
          <add namespace="System.Configuration" />
          <add namespace="System.Text" />
          <add namespace="System.Text.RegularExpressions" />
          <add namespace="System.Web" />
          <add namespace="System.Web.Caching" />
          <add namespace="System.Web.SessionState" />
          <add namespace="System.Web.Security" />
          <add namespace="System.Web.Profile" />
          <add namespace="System.Web.UI" />
          <add namespace="System.Web.UI.WebControls" />
          <add namespace="System.Web.UI.WebControls.WebParts" />
          <add namespace="System.Web.UI.HtmlControls" />
        </namespaces>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </controls>
      </pages>
      <customErrors mode="Off">
        <error statusCode="404" redirect="~/PagesPublic/Error/NotFound.aspx" />
        <error statusCode="500" redirect="~/PagesPublic/Error/Error.aspx" />
      </customErrors>
      <!-- Query String Module Classic Pipeline App Pool-->
      <!--<httpModules>
      <add name="QueryStringModule" type="QueryStringModule"/>
    </httpModules>-->
    </system.web>
  </location>
  <!-- Query String Module Integrated Pipeline App Pool-->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <add name="QueryStringModule" type="QueryStringModule" />
      </modules>
    </system.webServer>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--The following is only needed if the paymeny gateway is ECentric-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Soap11Binding_IPaymentGatewayService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="QASOnDemand" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="QASOnDemand1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.ondemand.qas.com/ProOnDemand/V3/ProOnDemandService.asmx" binding="basicHttpBinding" bindingConfiguration="QASOnDemand" contract="ProOnDemand.QAPortType" name="QAPortType" />
      <endpoint address="http://66.8.25.116:81/paymentgateway/v1" binding="basicHttpBinding" bindingConfiguration="Soap11Binding_IPaymentGatewayService" contract="IPaymentGatewayService" name="Soap11Binding_IPaymentGatewayService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>