<%@ Master Language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/Site.master.vb" Inherits="MasterPages_Shared_SharedClasses_Site" %>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/shadowbox-3.0.3/shadowbox.css">
    <link rel="stylesheet" href="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/bxslider-4/jquery.bxslider.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/foundation-5.4.7/js/vendor/modernizr.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/foundation-5.4.7/js/vendor/fastclick.js"></script>
    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/shadowbox-3.0.3/shadowbox.jQuery.js"></script>
    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/TinyNav.js-master/tinynav.min.js"></script>

    <link rel="shortcut icon" href="/App_Themes/PWS.Delia/img/favicon.ico?v=3" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/App_Themes/PWS.Delia/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/App_Themes/PWS.Delia/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/App_Themes/PWS.Delia/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/App_Themes/PWS.Delia/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/App_Themes/PWS.Delia/apple-touch-icon-144x144.png" />  

    <asp:ContentPlaceHolder id="SiteMasterHead" runat="server" />
        
</head>
<body id="MasterBodyTag" runat="server">
    
    <asp:ContentPlaceHolder ID="SiteMasterBody" runat="server" />

</body>
</html>