<%@ Master language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/Modal.master.vb" Inherits="MasterPages_Shared_SharedClasses_Modal" %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Always force latest IE rendering engine (even in intranet) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    
    <!-- Typekit -->
    <script src="//use.typekit.net/lru4qyb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- 3rd party menu css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.6.2/css/jquery.mmenu.all.min.css?ver=4.4.2" type="text/css" />

    <link rel="icon" href="/App_Themes/PWS.Silverstone/img-silverstone/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="//www.silverstone.co.uk/static/apple-touch-icon.png">

    <script src="../../App_Themes/PWS.Silverstone/js/modernizr-custom.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//use.fontawesome.com/7e81f32a9c.js"></script>

    <asp:ContentPlaceHolder id="SiteMasterHead" runat="server" />
</head>

<body id="MasterBodyTag" runat="server">
    <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-82CDC"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', 'GTM-82CDC');</script>
    <!-- End Google Tag Manager -->
    <form id="form1" runat="server">
        <asp:ScriptManager ID="scmMainScriptManager" runat="server" />
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />

       <script src="../../JavaScript/vendor/foundation/foundation.min.js"></script>
       <script src="../../JavaScript/Application/TalentEBusinessSuite.js"></script>
    
    </form>
    
    <%= GetPageExtraDataForBody()%>
    <%= GetTrackingBodyCodesText()%>

</body>
</html>