
	IF (OBJECT_ID('usp_SearchText_GetData') IS NOT NULL)
	BEGIN 
		DROP PROCEDURE dbo.usp_SearchText_GetData
	END
	GO 

	CREATE PROCEDURE dbo.usp_SearchText_GetData
	(
		@SEARCHTEXT		NVARCHAR(255),	
		@PAGESIZE		INT,
		@PAGEOFFSET		INT,
		@SORTCOLUMN		NVARCHAR(50), -- name of the db column
		@SORTORDER		BIT -- 0: ASC,1: DESC
	)
	AS
	BEGIN 
		SET NOCOUNT ON 

		/*******************************************************
			DEBUG - START 
		*******************************************************/
			--DECLARE @SEARCHTEXT	NVARCHAR(255)	
			--DECLARE @PAGESIZE	INT
			--DECLARE @PAGEOFFSET INT
			--DECLARE @SORTCOLUMN NVARCHAR(50)
			--DECLARE @SORTORDER BIT

			--SET @SEARCHTEXT = 'password'
			--SET @SORTCOLUMN = 'module'
			--SET @SORTORDER = 1 
			--SET @PAGESIZE = 50
			--SET @PAGEOFFSET = 0
		/*******************************************************
			DEBUG - END 
		*******************************************************/
	
		CREATE TABLE #RESULTSET(
			ID INT,
			BUSINESS_UNIT NVARCHAR(50), 
			PARTNER_CODE NVARCHAR(30),
			PAGE_CODE NVARCHAR(100),
			CONTROL_CODE NVARCHAR(100),
			MODULE AS (CASE WHEN TABLE_ID = 1 THEN CONTROL_CODE ELSE PAGE_CODE END), 
			TEXT_CODE NVARCHAR(50),
			LANGUAGE_CODE NVARCHAR(20),
			TEXT_CONTENT NTEXT,
			TABLE_ID TINYINT -- 1: TBL_CONTROL_TEXT_LANG 0: TBL_PAGE_TEXT_LANG
			PRIMARY KEY(ID,TABLE_ID)
		)
		CREATE TABLE #RESULTSET_SORTED(
			ROW_ID INT IDENTITY(1,1) PRIMARY KEY,
			ID INT,
			BUSINESS_UNIT NVARCHAR(50), 
			PARTNER_CODE NVARCHAR(30),
			MODULE NVARCHAR(100),
			TEXT_CODE NVARCHAR(50),
			LANGUAGE_CODE NVARCHAR(20),
			TEXT_CONTENT NTEXT,
			TABLE_ID TINYINT -- 1: TBL_CONTROL_TEXT_LANG 0: TBL_PAGE_TEXT_LANG
		)
		DECLARE @COUNT INT 
		DECLARE @ROWID INT 

		-- init 
		SET @SEARCHTEXT = ISNULL(@SEARCHTEXT,'')
		SET @SORTCOLUMN = ISNULL(@SORTCOLUMN,'ID')
		SET @SORTORDER = ISNULL(@SORTORDER,0)

		-- get data 
		INSERT	INTO #RESULTSET(ID,BUSINESS_UNIT,PARTNER_CODE,PAGE_CODE,TEXT_CODE,LANGUAGE_CODE,TEXT_CONTENT,TABLE_ID)
		SELECT	ID,BUSINESS_UNIT,PARTNER_CODE,PAGE_CODE,TEXT_CODE,LANGUAGE_CODE,TEXT_CONTENT,0
		FROM	dbo.TBL_PAGE_TEXT_LANG A 
		WHERE	A.TEXT_CONTENT LIKE '%'+ @SEARCHTEXT +'%'

		INSERT	INTO #RESULTSET(ID,BUSINESS_UNIT,PARTNER_CODE,CONTROL_CODE,PAGE_CODE,TEXT_CODE,LANGUAGE_CODE,TEXT_CONTENT,TABLE_ID)
		SELECT	A.ID,BUSINESS_UNIT,PARTNER_CODE,CONTROL_CODE,PAGE_CODE,TEXT_CODE,LANGUAGE_CODE,CONTROL_CONTENT,1
		FROM	dbo.TBL_CONTROL_TEXT_LANG A
		WHERE	A.CONTROL_CONTENT LIKE '%'+ @SEARCHTEXT +'%'
	
		-- prepare a MODULE column
		UPDATE	#RESULTSET
		SET		PAGE_CODE = dbo.fn_SpaceBeforeCap(REPLACE(PAGE_CODE,'.aspx','')),
				CONTROL_CODE = dbo.fn_SpaceBeforeCap(REPLACE(CONTROL_CODE,'.ascx',''))
		
		-- FORMATING 
		UPDATE	#RESULTSET
		SET		PAGE_CODE = substring(PAGE_CODE,1,patindex('%[0-9]%',PAGE_CODE)-1) + ' ' + substring(PAGE_CODE,patindex('%[0-9]%',PAGE_CODE),1)
		WHERE	PAGE_CODE like '%[0-9]%'
		
		UPDATE	#RESULTSET
		SET		CONTROL_CODE = substring(CONTROL_CODE,1,patindex('%[0-9]%',CONTROL_CODE)-1) + ' ' + substring(CONTROL_CODE,patindex('%[0-9]%',CONTROL_CODE),1)
		WHERE	CONTROL_CODE like '%[0-9]%'
					
		SELECT	@COUNT = COUNT(*) FROM	#RESULTSET A 
		IF (@PAGESIZE = -1) 
		BEGIN 
			SET @PAGESIZE = @COUNT
			SET @PAGEOFFSET = 0
		END 

		-- results count
		SELECT @COUNT AS COUNT 

		-- sorting 
		INSERT		INTO #RESULTSET_SORTED(ID,BUSINESS_UNIT,PARTNER_CODE,MODULE,TEXT_CODE,LANGUAGE_CODE,TEXT_CONTENT,TABLE_ID)
		SELECT		ID,BUSINESS_UNIT,PARTNER_CODE,MODULE,TEXT_CODE,LANGUAGE_CODE,TEXT_CONTENT,TABLE_ID
		FROM		#RESULTSET a 
		ORDER BY	CASE WHEN @SORTCOLUMN = 'ID' AND @SORTORDER = 0 THEN A.ID END,
					CASE WHEN @SORTCOLUMN = 'BUSINESS_UNIT' AND @SORTORDER = 0 THEN A.BUSINESS_UNIT END,
					CASE WHEN @SORTCOLUMN = 'TEXT_CODE' AND @SORTORDER = 0 THEN A.TEXT_CODE END,
					CASE WHEN @SORTCOLUMN = 'MODULE' AND @SORTORDER = 0 THEN A.MODULE END,
					CASE WHEN @SORTCOLUMN = 'ID' AND @SORTORDER = 1 THEN A.ID END DESC,
					CASE WHEN @SORTCOLUMN = 'BUSINESS_UNIT' AND @SORTORDER = 1 THEN A.BUSINESS_UNIT END DESC,
					CASE WHEN @SORTCOLUMN = 'TEXT_CODE' AND @SORTORDER = 1 THEN A.TEXT_CODE END DESC,
					CASE WHEN @SORTCOLUMN = 'MODULE' AND @SORTORDER = 1 THEN A.MODULE END DESC

		-- results set (with paging applied)
		SELECT		a.ID,a.BUSINESS_UNIT,a.PARTNER_CODE,a.MODULE,a.TEXT_CODE,a.LANGUAGE_CODE,a.TEXT_CONTENT,
					CAST(a.TABLE_ID AS VARCHAR) TABLE_NAME
		FROM		#RESULTSET_SORTED a 
		WHERE		ROW_ID between (@PAGEOFFSET + 1)  and (@PAGEOFFSET + @PAGESIZE)


	FINALLY:
		DROP TABLE #RESULTSET
		DROP TABLE #RESULTSET_SORTED

	END 