<%@ Master language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/Modal.master.vb" Inherits="MasterPages_Shared_SharedClasses_Modal" %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    
    <!-- Favicon.ico -->
    <link rel="icon" href="/Assets/WinterWonderland/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/Assets/WinterWonderland/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/Assets/PWS.Wonderland/0-normalize.css">
    <link rel="stylesheet" href="/Assets/PWS.Wonderland/1-foundation.min.css">
    <link rel="stylesheet" href="/Assets/PWS.Wonderland/2-ebiz.css">
    <link rel="stylesheet" href="/Assets/PWS.Wonderland/5-client.Wonderland.css">

    <!-- CSS Styles --> 
    <link rel="stylesheet" href="/Assets/WinterWonderland/css/style.css">
    <link rel="stylesheet" href="/Assets/WinterWonderland/css/nav-styles.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

    <!-- Web Fonts -->
    <script type="text/javascript" src="//use.typekit.net/jrf0mgq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- page level scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server" />
    <!-- page extra data table scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server" />
</head>
<body id="MasterBodyTag" runat="server">
    <form id="form1" runat="server">
        <asp:ScriptManager ID="scmMainScriptManager" runat="server" />
        <div class="row">
            <div class="large-12 columns">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
            </div>
        </div>
    </form>
</body>
</html>