<%@ master language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/Site.master.vb" Inherits="MasterPages_Shared_SharedClasses_Site" %>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/shadowbox-3.0.3/shadowbox.css">
    <link rel="stylesheet" href="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/bxslider-4/jquery.bxslider.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/foundation-5.4.7/js/vendor/modernizr.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/foundation-5.4.7/js/vendor/fastclick.js"></script>
    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/shadowbox-3.0.3/shadowbox.jQuery.js"></script>
    <script src="//a248.e.akamai.net/images.talentarena.co.uk/Global/Lib/bxslider-4/jquery.bxslider.min.js"></script>
    <script src="/App_Themes/PWS.LeedsRhinos/js/main.js"></script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700,300,500' rel='stylesheet' type='text/css'>
    <script src="/App_Themes/PWS.LeedsRhinos/owl-carousel/owl.carousel.js"></script>
    <script>
        $(function(){
            // FastClick
            FastClick.attach(document.body);
            // bxSlider
            $('.bxslider').bxSlider({
                minSlides: 4,
                maxSlides: 4,
                slideWidth: 320,
                slideMargin: 10,
            });
        });
    </script>
    <link rel="icon" href="/App_Themes/PWS.LeedsRhinos/img/favicon.ico" type="image/x-icon">
    <asp:ContentPlaceHolder id="SiteMasterHead" runat="server" />
</head>
<body id="MasterBodyTag" runat="server">
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PS7VQB');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS7VQB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <!--[if lt IE 9]>
        <div style=" background: black; padding: 20px; text-align: center; height: 100% "><h1 style=" color: white; ">Internet Explorer is not supported on this website. Please upgrade to Internet Explorer 9  (or newer) or use another browser such as Mozilla Firefox or Google Chrome.</h1></div>
    <![endif]-->
    <asp:ContentPlaceHolder ID="SiteMasterBody" runat="server" />
    <script src="/App_Themes/PWS.LeedsRhinos/js/foundation.min.js"></script>
    <script>
        $(document).foundation('reflow');
        $(document).foundation();
        function itemBigHeightAdjust() {
            //check if using the Foundation medium-up query
            var isMediumUp = Foundation.utils.is_medium_up();
            var isSmallOnly = Foundation.utils.is_small_only();
            var isLargeUp = Foundation.utils.is_large_up();
            //height of the small items
            var itemSmallHeight = jQuery(".itemsmall").height();
            var ascotFeatureImageHeight = jQuery(".bigitem-container img").height();
            //console.log(itemSmallHeight);
            //height of the big item should be the same as 2 small items + padding
            var itemBigHeight = 4 + (itemSmallHeight * 2);
            //console.log(itemBigHeight);
            if (isSmallOnly) {
                //console.log("yes");

            } else if (isLargeUp) {
                //console.log("yes");
                jQuery('.itembig').css('height', itemBigHeight + 'px');

            } else {
                //console.log("no");
                jQuery('.itembig').css('height', itemSmallHeight);
            }
        };
        jQuery(window).load(function() {
            itemBigHeightAdjust();
        });
        jQuery(window).resize(function() {
            itemBigHeightAdjust();
        });

        $(window).scroll(function() {
            if ($(window).scrollTop() > $('#ebiz-ud-main-nav-lower').offset().top && !($('#ebiz-ud-main-nav-lower').hasClass('stickylownav'))) {
                $('#ebiz-ud-main-nav-lower').addClass('stickylownav');
            } else if ($(window).scrollTop() == 0) {
                $('#ebiz-ud-main-nav-lower').removeClass('stickylownav');
            }
        });
    </script>
    <%= GetPageExtraDataForBody()%>
    <%= GetTrackingBodyCodesText()%>
</body>
</html>
