<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="EmailSMTP" value="192.168.57.208"/>
    <add key="EmailSMTPPort" value="25"/>
    <add key="CMSUseStoredProcedures" value="False"/>
    <add key="DefaultBusinessUnit" value="TRADING_PORTAL"/>
    <add key="DocumentsFolder" value="Documents"/>
    <add key="RequestsFolder" value="Requests"/>
    <add key="ResponsesFolder" value="Responses"/>
    <add key="TxtLogPath" value="Documents\Logs"/>
    <add key="WebServicesDir" value="App_Code\WebServices"/>
    <add key="XMLLogFolder" value="XMLFiles"/>
    <add key="XMLNamespace" value="http://localhost/TradingPortal"/>
    <add key="XMLResponseDir" value="Documents\XML\Responses"/>
    <add key="XMLSchemaInstance" value="http://www.w3.org/2001/XMLSchema-instance"/>
    <add key="XSDFolder" value="XSD"/>
    <add key="XSDResponseDir" value="Documents\XSD\Responses"/>
    <add key="XSLTFolder" value="XSLT"/>
    <add key="DefaultStoredProcedureGroup" value="WESTCOAST"/>
    <add key="liveUpdateDatabase01" value="Data Source=EBDEV2;Initial Catalog=TEBV2_DEV; User ID=TalentEBusinessDBUser; password=Password2007;"/>
    <add key="liveUpdateDatabase02" value=""/>
    <add key="liveUpdateDatabase03" value=""/>
    <add key="liveUpdateDatabase04" value=""/>
    <add key="liveUpdateDatabase05" value=""/>
    <add key="liveUpdateDatabase06" value=""/>
    <add key="liveUpdateDatabase07" value=""/>
    <add key="liveUpdateDatabase08" value=""/>
    <add key="liveUpdateDatabase09" value=""/>
    <add key="liveUpdateDatabase10" value="Data Source=EBDEV2;Initial Catalog=TEBV2_DEVT; User ID=TalentEBusinessDBUser; password=Password2007;"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="SqlServer2005" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentDev; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient"/>
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentDev; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient"/>  
    <!--<add name="SqlServer2005" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentQANext; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient"/>
    <add name="TalentEBusinessDBConnectionString" connectionString="Data Source=TalentServer2008Test;Initial Catalog=TalentEBusinessDBTalentQANext; User ID=TalentEBusinessDBUser; password=Password2007;" providerName="System.Data.SqlClient"/>-->
    <add name="SYSTEM21" connectionString="DataSource=CSG810A;userid=XXADMINWC;password=XXADMINWC;LibraryList=*USRLIBL;Naming=System"/>
    <add name="TALENTCRM" connectionString="DataSource=172.26.49.17;userid=SMS472TF;password=SMS472TF;LibraryList=*USRLIBL;Naming=System"/>
    <add name="TALENTEBOleDBConnectionString" connectionString="Provider=IBMDA400.DataSource.1;Data Source=172.26.41.9;Persist Security Info=True;User ID=talentebsa;Password=talentebsa;Catalog Library List=dbo"/>
    <add name="TALENTTKT" connectionString="DataSource=172.26.49.17;userid=TKT472TF;password=DEVELOP;LibraryList=*USRLIBL;Naming=System"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <profile enabled="false"/>
    <!--      (where 3600 etc. is measured in seconds.)        -->
    <httpRuntime maxRequestLength="51200000" executionTimeout="3600" requestValidationMode="2.0"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1">
      <assemblies>
        <!--<add assembly="IBM.Data.DB2.iSeries, Version=10.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/>-->
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/>
      </assemblies>
    </compilation>
    <sessionState mode="Off"/>
    <pages enableViewState="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="51200000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>