<%@ Master Language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/Retail.master.vb" Inherits="MasterPages_Shared_SharedClasses_Retail" %>

<%@ Register Namespace="Talent.CustomControls" Assembly="__code" tagprefix="TalentCustom" %>
<%@ Register Src="~/UserControls/Menu.ascx" TagName="Menu" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/miniBasket.ascx" TagName="miniBasket" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/PageLeftProductNav.ascx" TagName="PageLeftNav" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/searchBar.ascx" TagName="SearchBar" TagPrefix="Talent" %>

<asp:Content ID="Content1" ContentPlaceHolderID="SiteMasterHead" runat="server">
    <!-- page level scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server" />
    <!-- page extra data table scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="SiteMasterBody" runat="server">
    <asp:ScriptManager ID="scmMainScriptManager" runat="server" />
    <div class="row">
        <div class="large-9 columns">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        </div>
        <div class="large-3 columns">
            <Talent:MiniBasket ID="MiniBasket1" runat="server" Usage="GRID" /> 
            <div class="panel ebiz-product-search-nav-wrap">
                <Talent:SearchBar ID="uscSearchBar" runat="server" /> 
                <Talent:PageLeftNav ID="PageLeftNav1" runat="server" />
            </div>
        </div>
    </div>
</asp:Content>