/* .compDiscSlider {
    display: inline-block;
    width: 60%;
    margin: auto;
}
.compDiscTB {
    display: inline-block;
    width: 25%;
    margin-left: 10px;
} */
/* .packageDiscSlider {
    display: inline-block;
    width: 45%;
    margin: auto;
}
.packageDiscTB {
    display: inline-block;
    width: 40%; 
    margin-left: 10px;
} */

/* .ebiz-row-seat .ebiz-seat-row {
    display:inline-block;
    margin-right: 10px;
}
 */

