@media only screen and (max-width: 40em) {
	.button.toggleStadium {
		background-color: transparent;
		border: solid 1px #000;
		color: #000;
		display: none;
		margin-bottom: 0;
	}

	.ebiz-seat-selection.ebiz-selection {
		display: -webkit-flex;
		display: flex; 
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	.ebiz-seat-selection.ebiz-selection > .large-3 {
		-webkit-order: 2;  
		order: 2;
	}

	.ebiz-seat-selection.ebiz-selection > .large-9 {
		margin-bottom: 0;
		-webkit-order: 1;  
		order: 1;
	}

	.ebiz-svg-container > .panel {
		background-color: transparent;
		padding: 0;
	}

	.ebiz-area-view.ebiz-svg-container {
		margin-bottom: 0 !important;
		margin-top: 1.875rem;
	}
	
	.ebiz-area-view.ebiz-svg-container > .panel {
		background-color: #eaeaea !important;
		border: solid 1px #ccc;
		overflow: hidden;
	}
	
	.ebiz-svg-container {
		background-color: transparent;
		display: block !important;
	}
	
	.hideStadium .ebiz-svg-container {
		display: none !important;
	}

	#stadium-canvas {
		padding-top: 0 !important;
	}

	#quick-buy-option {
		left: 0 !important;
		position: relative !important;
		top: 0 !important;
		width: auto !important;
	}

	#backButton {
		margin-top: 0 !important;
	}

	.panel.hide-for-small.ebiz-selected-seats {
		display: block !important;
	}

	#svg-controls {
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		-webkit-flex-direction: column; /* Safari 6.1+ */
		flex-direction: column;
	}

	#svg-controls .ebiz-reset-seating {
		-webkit-order: 3;  
		order: 3;
		margin-bottom: 1.25rem;
	}

	#svg-controls .ebiz-view-from-area {
		-webkit-order: 2;  
		order: 2;
		margin-bottom: 1.25rem;
	}

	#svg-controls .ebiz-back-to-stadium-view {
		-webkit-order: 1;  
		order: 1;
		margin-bottom: 1.875rem;
	}

	.ebiz-seat-selection-outer-container {
		border: solid 1px #ccc;
		overflow: hidden;
	}

	.ebiz-svg-container .ebiz-pitch {
		background: #00a54d !important;
		border-radius: 0;
		font-family: "Open Sans",sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 22px;
		margin: 0;
		padding: 0.9375rem;
	}
	
	.ebiz-svg-container .ebiz-pitch i {
		display: none;
	}

	.ebiz-svg-container .ebiz-legend {
	    box-shadow: none;
	    position: relative !important;
	    left: 0 !important;
	    right: 0;
	    top: 0;
	    width: 100%;
	}

	.ebiz-svg-container .ebiz-legend ul {
		margin: 0;
	}
	
	.ebiz-seat-view .ebiz-seat-options {
		padding-top: 0;
	}

	.ebiz-svg-container .ebiz-legend h3,
	.ebiz-legend.ebiz-stand-availability,
	.ebiz-legend.ebiz-stand-pricing,
	.ebiz-match-text,
	#display,
	#stand-tip,
	#zoomSlider,
	#navigation-options,
	.ebiz-zoom-options,
	.ebiz-reset-seating,
	#tip {
	 	display: none !important;
	} 

	#loading-image {
	  	bottom: 0;
	  	color: white;
	  	font-size: 64px;
	  	height: 2em;
	  	left: 0;
	  	margin: auto;
	  	overflow: show;
	  	position: fixed;
	  	right: 0;
	  	top: 0;
	  	width: 2em;
	  	text-align: center;
	 	z-index: 999;
	}

	#loading-image:before {
		background-color: rgba(0,0,0,0.8);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1; 
	}

	#loading-image h2 {
		color: white !important;
	}
	
	.ebiz-seating-key {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	
	.ebiz-seating-key li {
		margin-right: 0;
		width: 50%;
	}
	.ebiz-seating-key li.unavailable2 {
		width: 100%;
	}
	
	.ebiz-seat-options #select {
		border: none;
	}
	
	.ebiz-view-price {
		z-index: 1;
	}
	
	.ebiz-buying-options {
		margin-top: 1.875rem;
	}
	
	.form-visualseatselection .ebiz-selected-seats {
		display: block;
		margin-top: 30px;
	}
	
	#btnChangeStandView {
		margin: 15px auto;
		width: calc(100% - 30px);
	}
	.ebiz-match-text + .panel {
		border: none;
	}
	
	.ebiz-seat-view {
		margin-top: 15px;
	}
}

@media only screen and (min-width: 40.063em) {
	.toggleStadium,
	#loading-image {
		display: none !important
	}
}
@media only screen and (max-width: 40em) {
	#stadium-canvas svg {
		background-color: #eaeaea;
	}
}

/* Seat selection for away games (seatSelection.aspx) */

@media only screen and (max-width: 40em) {
	.form-seatselection .ebiz-svg-container .panel {
		border:  none;
	}
}

.form-seatselection .ebiz-seat-selection-inner-container::after {
    background: #00a54d !important;
    border-radius: 0;
	color: #fff;
	content: "PITCH THIS WAY";
	display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
	margin: 0;
    padding: 0.9375rem;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 40.063em) {
	.form-seatselection .ebiz-seat-selection-inner-container::after  {
		border-radius: 1000px;
		margin: .9375rem auto;
	}
}

@media screen and (min-width: 64.063em) {
	.form-seatselection .ebiz-seat-selection-inner-container::after  {
		width: 100%;
	}
}