<%@ Master Language="VB" CodeFile="~/MasterPages/Shared/SharedClasses/Hospitality.master.vb" Inherits="MasterPages_Shared_SharedClasses_Hospitality" %>

<%@ Register Namespace="Talent.CustomControls" Assembly="__code" tagprefix="TalentCustom" %>
<%@ Register Src="~/UserControls/PersonalisationBar.ascx" TagName="PersonalisationBar" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/MicroBasket.ascx" TagName="MicroBasket" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/HTMLInclude.ascx" TagName="HTMLInclude" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/breadCrumbTrail.ascx" TagName="BreadCrumbTrail" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/Alerts.ascx" TagName="Alerts" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/SessionStatus.ascx" TagName="SessionStatus" TagPrefix="Talent" %>
<%@ Register Src="~/UserControls/TicketingLoyalty.ascx" TagName="TicketingLoyalty" TagPrefix="Talent" %>

<asp:Content ID="Content1" ContentPlaceHolderID="SiteMasterHead" runat="server">

    <!-- page level scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server" />

    <!-- page extra data table scripting -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server" />

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="SiteMasterBody" runat="server">
    <form id="form1" runat="server">
        <asp:ScriptManager ID="scmMainScriptManager" runat="server" />
        <div class="ebiz-inner-box-shadow">
            <header>
                <div class="ebiz-mp-personalisation-basket-wrap">
                    <div class="row">
                        <div class="large-12 columns">      
                            <div class="ebiz-mp-personalisation-wrap">
                                <TalentCustom:Literal HTMLFileName="ticket-enquiries-number.htm" ID="ltlTicketEnquiriesNumber" runat="server" OnLoad="GetStaticHTMLInclude" />
                                <Talent:TicketingLoyalty ID="TicketingLoyalty1" runat="server" />
                                <Talent:Alerts ID="uscAlerts" runat="server" />
                                <Talent:PersonalisationBar ID="uscPersonalisationBar" runat="server" />
                                <Talent:MicroBasket ID="uscMicroBasket" runat="server" />
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="ebiz-mp-header-wrap-lower">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="ebiz-mp-topbar">
                                <TalentCustom:Literal HTMLFileName="navigation.htm" ID="ltlNavigation" runat="server" OnLoad="GetStaticHTMLInclude" />
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="show-for-medium-up ebiz-mp-club-name-number-wrap">
                    <div class="row show-for-medium-up">
                        <div class="large-12 columns ebiz-mp-club-name">      
                            <TalentCustom:Literal HTMLFileName="strapline.htm" ID="ltlStrapline" runat="server" OnLoad="GetStaticHTMLInclude" />
                        </div>
                    </div>
                </div>
                <Talent:HTMLInclude ID="uscHTMLInclude1" runat="server" Usage="4" Sequence="1" />
            </header>
            <section>
                <div class="ebiz-mp-content-wrap">
                    <div class="ebiz-mp-content-wrap">
                    <div class="row ebiz-mp-session">
                        <div class="large-12 columns">
                            <TalentCustom:Literal HTMLFileName="sidebar.htm" ID="ltlSidebar" runat="server" OnLoad="GetStaticHTMLInclude" />
                            <Talent:SessionStatus ID="uscSessionStatus" runat="server" />
                        </div>
                    </div>
                    <div class="row ebiz-mp-bct-wrap">
                        <div class="large-12 columns">
                            <Talent:BreadCrumbTrail ID="uscBreadCrumbTrail" runat="server" />
                        </div>
                    </div>
                </div>
                    <Talent:HTMLInclude ID="uscHTMLInclude3" runat="server" Usage="2" Sequence="3" />
                    <div class="row ebiz-mp-content">
                        <div class="large-12 columns">
                            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server" />
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <Talent:HTMLInclude ID="uscHTMLInclude2" runat="server" Usage="5" Sequence="1" />
                <TalentCustom:Literal HTMLFileName="footer.htm" ID="ltlFooter" runat="server" OnLoad="GetStaticHTMLInclude" />
            </footer>
        </div>

        <a href="#" id="scrollUp"><i class="fa fa-chevron-up fa-3x"></i></a>
        <TalentCustom:Literal HTMLFileName="tracking.htm" ID="ltlTracking" runat="server" OnLoad="GetStaticHTMLInclude" />
    </form>
</asp:Content>